%html{:lang => "en",}
  %head
    %title "Recipe Display"
    :css 
      body { padding-top : 40px;}
  %body
   
    .container
      .row
        .span4
          %a(href="#{@values[0]}") 
            %img.img-rounded{:src => "#{@images[0]}"}/
          %h5 #{@recipes[0]}
          %p #{@ingredients_list[0]}


        .span4
          %a(href="#{@values[1]}") 
            %img.img-rounded{:src => "#{@images[1]}"}/
          %h5 #{@recipes[1]}
        
        .span4
          %a(href="#{@values[2]}") 
            %img.img-rounded{:src => "#{@images[2]}"}/
          %h5 #{@recipes[2]}
      
      .row
        .span4
          %a(href="#{@values[3]}") 
            %img.img-rounded{:src => "#{@images[4]}"}/
          %h5 #{@recipes[3]}


        .span4
          %a(href="#{@values[4]}")
            %img.img-rounded{:src => "#{@images[5]}"}/
          %h5 #{@recipes[4]}

        .span4
          %a(href="#{@values[5]}")
            %img.img-rounded{:src => "#{@images[6]}"}/
          %h5 #{@recipes[5]}


      .row
        .span4
          %a(href="#{@values[6]}")
            %img.img-rounded{:src => "#{@images[7]}"}/
          %h5 #{@recipes[6]}


        .span4
          %a(href="#{@values[7]}")
            %img.img-rounded{:src => "#{@images[8]}"}/
          %h5 #{@recipes[7]}

        .span4
          %a(href="#{@values[8]}")
            %img.img-rounded{:src => "#{@images[9]}"}/
          %h5 #{@recipes[8]}


    = @results.to_s



